@model IEnumerable<PTLab_2.Models.Cart>
@{
    ViewData["Title"] = "Корзина";
}

<table class="table">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Наименование</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Сумма</th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tr>
        <td><input type="number" size="2" id="quantity" min="0" max="100" value=@item.Quantity></td>
        <td>@item.ProductId</td>
        <td>@item.ProductId</td>
        <td> </td>
    </tr>
}
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                Много
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-action="Index">Продолжить покупки</a>
</div>


