@model IEnumerable<PTLab_2.Models.Product>
@{
    ViewData["Title"] = "Каталог";
}

<div class="text-center">
    <h1 class="display-4">Каталог</h1>
    <br>
    <table class="table">
        <tr><td>Наименование</td><td>Цена</td><td>Количество</td><td></td><td></td>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.Name</td>
                <td>@item.Price</td>
                <form action="Buy2">
                    <td> <input type="hidden" name="id" value="@item.Id"/></td>
                    <td><input type="number" size="2" name="quantity" min="1" max="100"></td>
                    <td>
                        <input type="submit" value="Добавить в корзину"/>
                    </td>
                </form>
            </tr>
        }
    </table>
</div>