@model IEnumerable<PTLab_2.Models.Product>
@{
    ViewData["Title"] = "Каталог";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our store</h1>
<table class="table">
    <tr><td>Наименование</td><td>Цена</td><td></td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="AddToCart" asp-controller="Home" asp-route-id="@item.Id" asp-route-id_customer="1">
                    <input type="submit" value="Добавить в корзину"/>
                </a>
               
            </td>
        </tr>
        
    }
</table>
</div>
