@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h6 class="display-6">Для совершения покупок вам необходимо авторизироваться</h6>
    <form name="login" method="post" action="">
  <p>Логин:<br>
   <input type="text" size="40" id="login">
  </p>
  <p>Пароль:<br>
   <input type="text" size="40" id="password">
     <p><input type="submit" value="Войти">
    </form>
</div>
