@{
    ViewBag.Title = "Авторизация";
    Layout = "_LayoutLogin";
}
<div class="text-center">
    <h2>Авторизация</h2><br /><br />
    <form method="post" asp-action="Login">
        <label>Логин:</label><br />
        <input type="text" name="login" size="30" /><br /><br />
        <label>Пароль:</label><br />
        <input type="password" name="password" size="30"/><br /><br />
        <h6 style="color: red">@ViewData["Message"]</h6>
        <input class="btn btn-primary" type="submit" value="Войти" />
    </form>
</div>
